<div class="text-center">
  <div class="btn-group" id="btngroup">
    <%= link_to "Category", categories_path, class:"btn btn-outline-info" %>
    <%= link_to "Post", posts_path, class:"btn btn-outline-info"%>
  </div>
</div>

