<p style="color: green"><%= notice %></p>
<div class="text-center">
  <h1>Posts</h1>
  <%= link_to "New post", new_post_path, class:"btn btn-primary" %>
</div>

<div class="container">
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show", post, class:"btn btn-outline-info" %>
      </p>
    <% end %>
  </div>
</div>
